# Keil 编译生成的中间文件和输出文件
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.axf
*.lnp
*.sct
*.iex
*.bak
*.hex
*.bin

# Keil 的个人用户配置文件 (不应该共享)
*.uvguix.*
*.uvgui.*
*.scvd

# 忽略整个编译输出文件夹里的杂物 (根据你的工程可能存在)
Objects/
Listings/
DebugConfig/

# Local editor/tool logs
*.log
*.log.lock
